<div class="socialbuttons">
    <br><br> <!--CSS THIS-->
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</div>
<footer class="footer">
        <p>&copy; Health Guys 2015</p>

</footer><!-- end '.footer' div -->