@import 'integration';
.anything{
    background-image: url("http://i.huffpost.com/gen/1189566/thumbs/h-DIVERSE-BABIES-SITTING-IN-DIAPERS-960x540.jpg");
    background-size: cover;
    height:600px;

}
