// This is general file for main css
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:700);
$palegreen: #DAEAC6;

$bluegreen: #96DDBF;

$orangered: #FA6658;

$peach: #FF966F;

$wheat: #FFD987;

#interfacecontrol {
  display:none;
}

/* 'Central Valley Healthy Baby' styling */
#brandingDiv > img {
  width: 50%;
  height: auto;
  margin-top: 5px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 'Bold 700';
}

h3 span {
  font-family: 'Roboto Slab', serif;
  font-weight: 'Bold 700';
}

/* 'Central Valley Healthy Baby' styling */
#brandHeaderColor1 {
  color: $bluegreen;
}
#brandHeaderColor2 {
  color: $orangered;
}
#brandHeaderColor3 {
  color: $peach;
}
#brandingSplash {
  margin-left: 5px;
}

#brandingDiv {
  float: left;
  margin-top: 5px;
  border: none;
  background: none;
}

#search {
  padding-top: 5px;
  border: none;
  background: none;
}

.btn-splash {
  background: white;
  margin-right: 10px;
  height: auto;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Buttons group */
.glyphicon > {
  padding-right: 5px;
}

/* Main message*/
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Button has been removed */
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}